#Post{
    height:500px ;
    margin-top: 10px;
}
#postJumbo{
    display: flex;
    flex-direction: column;
}
.textbox{
    background-color: whitesmoke;
}
#postBox{
    height: 0px;
    background-color:#f1c33a;
}
#postTitle{
    color:white;
}
.login-box{
    margin-top: 50px
}
